.button-view{
    -fx-background-color: linear-gradient(#328BDB 0.0%, #207BCF 25.0%, #1973C9 75.0%, #0A65BF 100.0%);
    -fx-text-fill: white;
    -fx-background-radius: 2;
}


/*#contacts {
    -fx-background-color: blue;
}*/

/*.list-view {
             -fx-background-color: red;
}*/

/*.list-view: #group {
    -fx-background-color: red;
}*/

/*.list-cell:odd {*/
/*    -fx-cell-hover-color: #0093ff;*/
/*    -fx-background-color: white;*/
/*}*/

/*.list-cell:even {*/
/*    -fx-cell-hover-color: #0093ff;*/
/*    -fx-background-color: white;*/
/*}*/

/*.my-label {*/
/*!*    -fx-background-color: linear-gradient(#328BDB 0.0%, #207BCF 25.0%, #1973C9 75.0%, #0A65BF 100.0%);*!*/
/*    -fx-border-width: 3;*/
/*!*     -fx-effect: dropshadow(gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );*!*/
/*}*/



/*.my-label:selected:focused, .my-label:selected, .my-label:selected, .my-label:pressed{*/
/*    -fx-background-color: linear-gradient(#328BDB 0.0%, #207BCF 25.0%, #1973C9 75.0%, #0A65BF 100.0%);*/
/*    -fx-text-fill: white;*/
/*    -fx-background-radius: 2;*/
/*}*/

/*.my-label:filled:selected:focused, .my-label:filled:selected, .my-label:filled:selected, .my-label:filled:pressed{*/
/*    -fx-background-color: linear-gradient(#328BDB 0.0%, #207BCF 25.0%, #1973C9 75.0%, #0A65BF 100.0%);*/
/*    -fx-text-fill: white;*/
/*    -fx-background-radius: 2;*/
/*}*/

/*.tree-cell:hover {*/
/*!*    -fx-background-color: #0093ff ;*!*/
/*    -fx-border-width: 3;*/
/*    -fx-effect: dropshadow(gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );*/
/*}*/
/*    -fx-border-color: #0093ff;*/

/*    -fx-border-color:*/
/*    -fx-border-width: 2px;
    -fx-border-color: #0093ff;*/

/*.tree-cell {*/
/*!*    -fx-cell-hover: 50px*!*/
/*!*    -fx-font-weight: bold;*/
/*    -fx-font-style: italic;*!*/
/*!*    -fx-padding: 0.75em 0em 0.75em 0em ;*!*/
/*}*/

/*.tree-cell:hover {*/
/*!*    -fx-text-fill: blue;*!*/
/*}*/

/*.tree-cell: odd {
    -fx-font-weight: normal;
    -fx-font-style: italic;
    -fx-text-fill: blue;
}

.tree-cell: even {
    -fx-font-weight: normal;
    -fx-font-style: italic;
    -fx-text-fill: red;
}*/

/*.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0.0%, #207BCF 25.0%, #1973C9 75.0%, #0A65BF 100.0%);
    -fx-text-fill: white;
    -fx-background-radius: 2;
}*/

/*.tree-cell:filled:selected:focused, .tree-cell:filled:selected, .list-cell:filled:selected, .list-cell:filled:pressed{*/
/*    -fx-background-color: linear-gradient(#328BDB 0.0%, #207BCF 25.0%, #1973C9 75.0%, #0A65BF 100.0%);*/
/*    -fx-text-fill: white;*/
/*    -fx-background-radius: 2;*/
/*}*/

/*.list-view .list-cell:even {
-fx-background-color: blue;
-fx-text-fill: black;
}*/
/*
.list-view .list-cell:odd {
-fx-background-color: blue;
-fx-text-fill: black;
}*/
